<% type = "info" if local_assigns[:type].nil? %>
<% title = "" if local_assigns[:title].nil? %>
<% content = "content" if local_assigns[:content].nil? %>
<% dismissible = true if local_assigns[:dismissible].nil? %>

<% flash.each do |type, content| %>
  <% unless content == t('devise.failure.unauthenticated') %>
  <div class="alert <%= alert_class_by_type(type) %> <% if dismissible == true %>alert-dismissible<% end %>" role="alert" style="font-size:16px;">
    <% if dismissible == true %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% end %>
    <strong><%= title %></strong>
    <%= content %>
  </div>
  <% end %>
<% end %>