<!-- footer start -->
<footer>
  <div class="footer1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-main">
            <div class="footer-box">
              <div class="footer-title mobile-title">
                <h5>about</h5>
              </div>
              <div class="footer-contant">
                <div class="footer-logo">
                  <a href="index.html">
                    <img src="/assets/logo.png" class="img-fluid" alt="logo">
                  </a>
                </div>
                <p>BookMart is an easy way for you to buy your favorite books online. We sell modern as well as historical exotic books encompassing a broad range of genres.</p>
                <ul class="paymant">
                  <li><a href="javascript:void(0)"><img src="/assets/1.png" class="img-fluid" alt="pay"></a></li>
                  <li><a href="javascript:void(0)"><img src="/assets/2.png" class="img-fluid" alt="pay"></a></li>
                  <li><a href="javascript:void(0)"><img src="/assets/3.png" class="img-fluid" alt="pay"></a></li>
                  <li><a href="javascript:void(0)"><img src="/assets/4.png" class="img-fluid" alt="pay"></a></li>
                  <li><a href="javascript:void(0)"><img src="/assets/5.png" class="img-fluid" alt="pay"></a></li>
                </ul>
              </div>
            </div>
            <div class="footer-box">
              <div class="footer-title">
                <h5>my account</h5>
              </div>
              <div class="footer-contant">
                <ul>
                  <li><a href="javascript:void(0)">about us</a></li>
                  <li><a href="javascript:void(0)">contact us</a></li>
                  <li><a href="javascript:void(0)">terms &amp; conditions</a></li>
                  <li><a href="javascript:void(0)">returns &amp; exchanges</a></li>
                  <li><a href="javascript:void(0)">shipping &amp; delivery</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-box">
              <div class="footer-title">
                <h5>contact us</h5>
              </div>
              <div class="footer-contant">
                <ul class="contact-list">
                  <li><i class="bi-geo-alt-fill"></i>NC State University <br> Raleigh, NC-<span>27606</span></li>
                  <li><i class="bi-telephone"></i>call us: <span>123-456-7898</span></li>
                  <li><i class="bi-envelope-fill"></i>email us: admn.bookmart@gmail.com</li>
                  <li><i class="bi-printer-fill"></i>fax <span>123456</span></li>
                </ul>
              </div>
            </div>
            <div class="footer-box">
              <div class="footer-title">
                <h5>newsletter</h5>
              </div>
              <div class="footer-contant">
                <div class="newsletter-second">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="enter full name" >                     
                      <span class="input-group-text"><i class="bi-person"></i></span>                      
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="enter email address" >                     
                      <span class="input-group-text"><i class="bi-envelope"></i></span>                     
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <a href="javascript:void(0)" class="btn btn-solid btn-sm">submit now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subfooter dark-footer ">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-8 col-sm-12">
          <div class="footer-left">
            <p>2023-24 Copyright by CSC 517 ashon-kajadhav</p>
          </div>
        </div>
        <div class="col-xl-6 col-md-4 col-sm-12">
          <div class="footer-right">
            <ul class="sosiyal">
              <li><a href="javascript:void(0)"><i class="bi-facebook"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bi-google"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bi-twitter"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bi-instagram"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bi-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->